@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 35, 35;
  --background-rgb: 238, 237, 237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 238, 237, 237;
    --background-rgb: 35, 35, 35;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

* {
  border-color: rgb(var(--background-rgb));
}
