name: Continuous integration checks

on: [push]

env:
  ETH_FORK_RPC: ${{ secrets.ETH_FORK_RPC }}
  ARB1_FORK_RPC: ${{ secrets.ARB1_FORK_RPC }}
  GNO_FORK_RPC: ${{ secrets.GNO_FORK_RPC }}
  OETH_FORK_RPC: ${{ secrets.OETH_FORK_RPC }}
  BASE_FORK_RPC: ${{ secrets.BASE_FORK_RPC }}

jobs:
  checks:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/cache
            .yarn/install-state.gz
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
      - name: Install dependencies & setup
        run: |
          yarn -v
          yarn
          yarn setup

      - name: Check formatting
        run: yarn check:prettier
      - name: Build all packages
        run: yarn build

  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-${{ matrix.label }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        label:
          [
            general,
            aave,
            ankr,
            aura,
            balancer,
            compound,
            convex,
            cowSwap,
            lido,
            rocketPool,
            sky,
            spark,
            stader,
            stakeWise,
            uniswap,
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/cache
            .yarn/install-state.gz
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
      - name: Install dependencies & setup
        run: |
          yarn -v
          yarn
          yarn setup
      - name: Install anvil
        uses: foundry-rs/foundry-toolchain@v1
        with:
          # https://github.com/foundry-rs/foundry/releases/tag/nightly-fd565286372b42a19b22d6a756e59a1b60a4135c
          version: nightly-fd565286372b42a19b22d6a756e59a1b60a4135c

      - name: Run tests
        run: |
          cd sdk
          yarn test ${{ matrix.label }}
