name: Check for protocol updates

on:
  schedule:
    - cron: "0 0 * * *" # Every day at 00:00

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update-protocols:
    runs-on: ubuntu-latest
    env:
      CONFIG_PATH: ${{ github.workspace }}/scripts/config.json
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Write config file
        env:
          DEFYES_CONFIG_JSON: ${{ secrets.DEFYES_CONFIG_JSON }}
        run: |
          echo $DEFYES_CONFIG_JSON >> $CONFIG_PATH

      - name: Install python dependencies
        run: |
          cd scripts
          python -m pip install --upgrade pip
          git config --global url."https://${{ secrets.GH_TOKEN }}@github.com/".insteadOf "https://github.com/"
          pip install -r requirements.txt

      - name: Run aave_v2.py
        run: python scripts/aave_v2.py
      - name: Run aave_v3.py
        run: python scripts/aave_v3.py
      - name: Run aura.py
        run: python scripts/aura.py
      - name: Run balancer.py
        env:
          THE_GRAPH_APIKEY: ${{ secrets.THE_GRAPH_APIKEY }}
        run: python scripts/balancer.py
      - name: Run compound_v2
        run: python scripts/compound_v2.py
      - name: Run compound_v3
        run: python scripts/compound_v3.py
      - name: Run convex
        run: python scripts/convex.py
      - name: Run sky
        run: python scripts/sky.py
      - name: Run spark
        run: python scripts/spark.py
      - name: Run stakewise_v3
        run: python scripts/stakewise_v3.py
      - name: Run uniswap_v3
        env:
          THE_GRAPH_APIKEY: ${{ secrets.THE_GRAPH_APIKEY }}
        run: python scripts/uniswap_v3.py

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/cache
            .yarn/install-state.gz
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}

      - name: Run prettier
        run: |
          yarn
          yarn fix:prettier

      - name: Create PR
        uses: peter-evans/create-pull-request@v3.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "fix: protocol updates [nightly]"
          title: "fix: protocol updates [nightly]"
          body: >
            The nightly job detected updates to the protocol configs
          labels: bot
          branch: protocol-updates
